.App {
  text-align: center;
}

:root {
  --museumOfArt: url("./img/museumOfArt.png");
  --fragments: url("./img/fragments.png");
  --frontend: url("./img/frontend.jpg");
  --backend: url("./img/backend.jpg");
  --cloudComputing: url("./img/cloudComputing.jpg");
  --pmTools: url("./img/pmtools.jpg");
}

.allerta {
  font-family: "Allerta";
}

.asap {
  font-family: "Asap";
}

#mirim {
  font-size: 35px;
  font-weight: 600;
}

.App,
.navbar {
  background-color: #fefef0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-nav {
  align-items: center;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navLinks a {
  color: #666777 !important;
  font-weight: 500;
  position: relative;
  font-family: "Allerta";
  margin: 0 10px;
  line-height: 2rem;
}

.navLinks a:hover {
  color: #000 !important;
  cursor: pointer;
}

.navLinks a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 25px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #ffc738;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.navLinks a:hover::before {
  width: 100%;
  visibility: visible;
}

#resumeBtn {
  width: 100px;
  height: 2.5em;
  font-family: "Allerta";
  font-weight: 500;
  margin: 0 10px;
  border: 1px solid transparent !important;
  background-color: #ffc124;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#resumeBtn:hover {
  background-color: #fefef0;
  border: 3px solid #ffc738 !important;
  color: black;
}

.ttl {
  padding: 80px 0 30px 0;
}

#about {
  height: 500px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introduction {
  width: 550px;
  margin-top: 30px;
  /* text-align: left; */
  /* background-color: #ffc738;
  color: black;
  padding: 30px;
  position: absolute;

  visibility: hidden; */
}

.experiences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
}

.ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobContent {
  padding-top: 40px;
}

.jdContent {
  margin-top: 20px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.job {
  text-align: right;
  align-items: end;
  margin-right: 20px;
}

.jd {
  text-align: left;
  width: 600px;
}

.vl {
  border-right: 2px dashed rgb(111, 111, 111);
  height: 100px;
}

.long {
  height: 200px;
}

.darkSection {
  background-color: #37393b;
  color: white;
}

.skills {
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skillDiv::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.skillDiv:hover::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.skillDiv {
  width: 300px;
  height: 400px;
  border-radius: 25px;
  background: no-repeat center;
  background-size: cover;
  background-image: var(--backgroundImage);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 170px 30px 0 30px;
  color: white;
  z-index: 1;
  transition: padding 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro > p {
  visibility: hidden;
  opacity: 0;
}

.skillDiv:hover .intro {
  padding: 30px;
}

.skillDiv:hover .intro > h4 {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #fff;
}

.skillDiv:hover .intro > p {
  visibility: visible;
  opacity: 1;
}

.pjs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0 60px 0;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px; /* 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0),
      rgb(255, 255, 255, 0.5),
      rgb(255, 255, 255, 1),
      rgb(255, 255, 255, 1),
      rgb(255, 255, 255, 1)
    ),
    var(--backgroundImage);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: "Asap";
  color: #000;
  padding-bottom: 20px;
}

.flip-card-back {
  background-color: #fefef0;
  color: black;
  transform: rotateY(180deg);
  display: grid;
}

.pjIcon {
  margin: 10px;
  font-size: 30px;
}

.pjIcons {
  cursor: pointer;
}

.contact {
  position: relative;
  margin-top: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactForm {
  width: 50%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ctForm {
  width: 70%;
}

.ctForm > input,
.ctForm > textarea {
  width: 100%;
  margin-top: 25px;
  padding: 3px 2px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  resize: none;
  outline: none;
}

.ctForm input:focus,
.ctForm textarea:focus {
  border: 2px solid #37393b;
  border-radius: 5px;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 25px;
}

.ctBtn {
  width: 100%;
  border: transparent;
  color: white;
  height: 2.5em;
  border-radius: 25px;
  background-color: #37393b;
  margin-top: 20px;
}

.ctBox {
  left: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background-color: #ffc738;
}

.contactInfo {
  width: 50%;
  height: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.ctIcon {
  font-size: 30px;
  margin: 20px 20px 20px 0;
  color: white;
}

.ctInfoTtl {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #fff;
}

.ctInfo {
  margin-top: 40px;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .long {
    height: 240px;
  }

  .skills {
    display: ruby-text;
  }
  .skillDiv {
    margin: 0 30px 30px;
  }

  .flip-card {
    width: 30%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .contactForm p {
    padding-left: 25px;
  }

  .ctBox {
    top: 0;
    position: absolute;
    width: 50px;
    height: 50px;
  }

  .contactInfo {
    padding: 30px;
    height: 525px;
  }
}

@media screen and (max-width: 767px) {
  #mirim {
    font-size: 30px;
  }

  .nav-brand {
    font-size: 30px;
  }

  #resumeBtn {
    margin: 5px 10px;
  }

  #about {
    padding: 0 50px;
  }

  #experiences {
    padding: 0 3cqb;
  }

  .experiences {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .experiences p {
    text-align: right;
  }

  .experiences ul {
    padding-left: 1rem;
  }

  .jdContent {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px dashed #ffc738;
  }

  .skills {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillDiv {
    margin: 30px 0;
  }

  .pjs {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-card {
    margin: 30px 0;
    width: 300px;
  }

  #skills,
  #projects {
    padding-bottom: 30px;
  }

  .contact {
    padding: 0 30px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactForm {
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .contactForm p {
    line-height: 2rem;
    text-decoration: underline 2px solid #ffc124;
    text-underline-offset: 5px;
  }

  .ctForm {
    width: 100%;
  }

  .ctBox {
    display: none;
  }

  .contactInfo {
    width: 100%;
    height: 400px;
    padding: 0 20px;
  }

  .ctInfo {
    margin: 0;
    font-size: 18px;
  }
}
