.App {
  text-align: center;
}

:root {
  --museumOfArt: url("./img/museumOfArt.png");
  --fragments: url("./img/fragments.png");
  --portfolio: url("./img/portfolio.png");
  --frontend: url("./img/frontend.jpg");
  --backend: url("./img/backend.jpg");
  --cloudComputing: url("./img/cloudComputing.jpg");
  --pmTools: url("./img/pmtools.jpg");
}

.allerta {
  font-family: "Allerta";
}

.asap {
  font-family: "Asap";
}

.mirim {
  font-size: 35px;
  font-weight: 600;
  padding: 0 20px;
}

.App,
.navbar {
  background-color: #fefef0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-nav {
  align-items: center;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navLinks a {
  color: #666777 !important;
  font-weight: 500;
  position: relative;
  font-family: "Allerta";
  margin: 0 10px;
  line-height: 2rem;
}

.navLinks a:hover {
  color: #000 !important;
  cursor: pointer;
}

.navLinks a:not(#resumeBtn a)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 25px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #ffc738;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.navLinks a:not(#resumeBtn a):hover::before {
  width: 100%;
  visibility: visible;
}

#resumeBtn {
  width: 100px;
  height: 2.5em;
  font-family: "Allerta";
  font-weight: 500;
  margin: 0 10px;
  border: 1px solid transparent !important;
  background-color: #ffc124;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, border 0.3s;
}

#resumeBtn:hover {
  background-color: #fefef0;
  border: 3px solid #ffc738 !important;
}

#resumeBtn a {
  color: white !important;
  text-decoration: none;
  transition: color 0.3s;
}

#resumeBtn:hover a {
  color: black !important;
}

.ttl {
  padding: 80px 0 30px 0;
}

#about {
  height: 500px;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.about {
  width: 45%;
  height: 100%;
  text-align: right;
  position: absolute;
  left: 10%;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background: linear-gradient(to right, #fefef0 95%, rgba(0, 0, 0, 0));
  z-index: 1;
}

.about > h1 {
  padding: 80px 0 30px 0;
}

.introduction {
  width: 500px;
  margin: 5px 0;
  font-size: 20px;
}

.heroIcons {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translate(40%, -5%);
}

.heroIcon {
  line-height: 10px;
  display: flex;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 55px;
  transform: rotate(-30deg);
}

.heroIcon svg {
  color: rgba(0, 0, 0, 0.4);
  padding: 0 5px;
}

.heroIcon svg:hover {
  color: #ffc738;
  filter: drop-shadow(0 0 20px #ffc738);
}

.heroIcon svg:not(:hover) {
  transition-delay: 150ms;
}

.heroIcon div {
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

.heroIcon div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}

.heroIcon:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}

.heroIcon:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.experiences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
  margin-top: 30px;
}

.ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobContent {
  padding-top: 40px;
}

.jdContent {
  margin-top: 20px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.job {
  text-align: right;
  align-items: end;
  margin-right: 20px;
}

.jd {
  text-align: left;
  width: 600px;
}

.vl {
  border-right: 2px dashed rgb(111, 111, 111);
  height: 100px;
}

.long {
  height: 200px;
}

.darkSection {
  background-color: #37393b;
  color: white;
}

.skills {
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skillDiv::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.skillDiv:hover::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.skillDiv {
  width: 300px;
  height: 400px;
  border-radius: 25px;
  background: no-repeat center;
  background-size: cover;
  background-image: var(--backgroundImage);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 180px 30px 0 30px;
  color: white;
  z-index: 1;
  transition: padding 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro > div {
  visibility: hidden;
  opacity: 0;
}

.intro > h4 {
  margin: 0;
  text-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillDiv:hover .intro {
  padding: 60px 30px;
}

.skillDiv:hover .intro:has(.backend) {
  padding: 40px 30px;
}

.skillDiv:hover .intro > h4 {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #fff;
}

.skillDiv:hover .intro > div {
  visibility: visible;
  opacity: 1;
}

.skillIcon {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skillIcon img {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillIcon p {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-weight: 500;
}

.frontend div {
  width: 60px;
  margin: 15px;
}

.backend div {
  width: 50px;
  margin: 10px;
}

.cloud {
  padding: 50px 0;
}

.cloud div {
  width: 50px;
  margin: 20px;
}

.aws {
  transform: translateY(8px);
}

.tools div {
  width: 50px;
  margin: 10px;
}

.tools img {
  margin-bottom: 5px;
}

.pjs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0 60px 0;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px; /* 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 2px solid #ffc738;
  border-radius: 20px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 18px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0),
      rgb(255, 255, 255, 0.5),
      rgb(255, 255, 255, 1),
      rgb(255, 255, 255, 1),
      rgb(255, 255, 255, 1)
    ),
    var(--backgroundImage);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: "Asap";
  color: #000;
  padding-bottom: 20px;
}

.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
  display: grid;
}

.pjIcons {
  cursor: pointer;
  height: 110px;
  border-bottom: 1px dashed #37393b;
}

.pjIcon {
  margin: 10px;
  font-size: 30px;
}

.pjDesc {
  overflow: auto;
  margin: 10px 0;
  padding: 0 10px;
}

.pjDesc::-webkit-scrollbar {
  width: 3px;
}

.pjDesc::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 25px;
}

.flip-card-back ul {
  margin: 0;
  padding-left: 10px;
  text-align: left;
}

.flip-card-back li:not(:last-child) {
  margin-bottom: 10px;
}

.contact {
  position: relative;
  margin-top: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactForm {
  width: 50%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ctMsg {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctMsg p {
  margin: 0;
}

.alertMsg {
  width: 70%;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 2rem;
  border-top: 3px solid;
  border-bottom: 3px solid;

  animation: fade-in 0.5s forwards;
}

.alertMsg.fade-out {
  animation: fade-out 0.3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ctForm {
  width: 70%;
}

.ctForm > input,
.ctForm > textarea {
  width: 100%;
  margin-top: 25px;
  padding: 3px 2px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  resize: none;
  outline: none;
}

.ctForm input:focus,
.ctForm textarea:focus {
  border: 2px solid #37393b;
  border-radius: 5px;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 25px;
}

.ctBtn {
  width: 100%;
  border: transparent;
  color: white;
  height: 2.5em;
  border-radius: 25px;
  background-color: #37393b;
  margin-top: 20px;
}

.ctBox {
  left: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background-color: #ffc738;
}

.contactInfo {
  width: 50%;
  height: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.ctIcon {
  font-size: 30px;
  margin: 20px 20px 20px 0;
  color: white;
}

.ctInfoTtl {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #fff;
}

.ctInfo {
  margin-top: 40px;
  font-size: 22px;
}

.ctLink a {
  color: white;
  text-decoration: none;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.footer h3,
.footer p {
  margin: 0;
}

.footer p {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  #about {
    height: 600px;
  }

  .about {
    padding: 0 80px 0 0;
  }

  .about > h1 {
    padding-top: 50px;
  }

  .introduction {
    width: 360px;
  }

  .long {
    height: 240px;
  }

  .skills {
    display: ruby-text;
  }

  .skillDiv {
    margin: 0 30px 30px;
  }

  .flip-card {
    width: 30%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .ctMsg p {
    width: 100%;
  }

  .ctMsg pre {
    width: 70%;
    font-size: 18px;
  }

  .ctBox {
    top: 0;
    position: absolute;
    width: 50px;
    height: 50px;
  }

  .contactInfo {
    padding: 30px;
    height: 525px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0 40px 0 20px;
    text-align: start;
  }

  .about > h1,
  .about > h4 {
    width: 100%;
  }

  .introduction {
    width: 100%;
    font-size: 18px;
  }

  .ctMsg pre {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mirim {
    font-size: 30px;
  }

  .nav-brand {
    font-size: 30px;
  }

  #resumeBtn {
    margin: 5px 10px;
  }

  .ttl {
    padding: 60px 0 30px 0;
  }

  #about {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about {
    width: 100%;
    padding: 0;

    text-align: center;
    position: unset;
  }

  .introduction {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
  }

  .heroIcons {
    display: none;
  }

  .experiences {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  .experiences p {
    text-align: right;
  }

  .experiences ul {
    padding-left: 1rem;
  }

  .jdContent {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px dashed #ffc738;
  }

  .skills {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skillDiv {
    margin: 30px 0;
  }

  .pjs {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-card {
    margin: 30px 0;
    width: 300px;
  }

  #skills,
  #projects {
    padding-bottom: 30px;
  }

  .contact {
    padding: 0 30px 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactForm {
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .ctMsg p {
    line-height: 2rem;
    text-decoration: underline 2px solid #ffc124;
    text-underline-offset: 5px;
  }

  .ctMsg pre {
    width: 100%;
    font-size: 18px;
  }

  .ctForm {
    width: 100%;
  }

  .ctBox {
    display: none;
  }

  .contactInfo {
    width: 100%;
    height: 400px;
    padding: 0 20px;
  }

  .ctInfo {
    margin: 0;
    font-size: 18px;
  }

  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
  }

  .footer h3 {
    font-size: 20px;
  }
  .footer p {
    font-size: 15px;
  }
}
